.box_bid {
	/*border-bottom: 2px dashed lightgrey;*/
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 2px;
	clear: both;
}

.bid_content {
	width: 40%;
	min-width: 250px;
	display: block;
	height:70px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	position: relative;
	font-size: 14px;
	overflow: hidden;
}

.bid_content .main {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background-color: black;
	padding:5px;
	transition: margin 1s;
}

.bid_content .main img {
	float: left;
	margin-right: 5px;
}

.bid_content .main span {
	position: absolute;
	right: 10px;
	top:10px;
}

.bid_content h5 {
	padding: 0;
	margin :5px 0; 
	font-size: 20px;
}

.bid_content:hover .main {
	margin-top:-70px;
}

.bid_challenged {
	background-color: red;
}

.bid_won {
	margin: 0 auto;
	background-color: green;
}

.bid_paid .hover {
	text-align: center;
	padding-top: 10px;
}

.bid_paid {
	float:right;
	background-color: yellow;
	clear: both;
	margin-bottom: 2px;
}

#legende {
	position: absolute;
	right: 0;
	top: 20px;
}

#legende span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: black;
	margin: 0px 5px;
}


.rowEspacePerso h4{
    font-size: 20px;
    margin-top: -32px;
    z-index: 90;
}

.btn-openAction{

    position: relative;
    z-index: 100;
}

.infoPerso{
    display: block;
    text-align: left;
}

.infoPerso img{
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 20px;
}