<div class="boxProduit">
	<div class="containerImgProduit"><!-- image du produit -->
		<img class="imgProduit" src="http://placehold.it/230x230" alt="Photo produit" data-toggle="modal" data-target="#modalInfosProduit"/>
	</div>
	<div class="wrap_infoProduit"><!-- info sur le produit -->
		<div class="titreProduit">
			<h1> {{value}} </h1>
			<h2> 999,99 € </h2>
		</div>
		<div class="infoProduit">
			<p class="ligneInfoProduit">
				<span class="iconeProduit glyphicon glyphicon-user btn-xs"></span>
				Bryan Fruchart
				<span class="pdbProduit adjustPdb">
					888,88 €
				</span>
			</p>
			<p>
				Le 28/02/14 (12 jours)
				<span class="pdbProduit">
					7 enchères
				</span>
			</p>
		</div>
		<div class="actionProduit"><!-- bouton et minuteur du produit -->
			<div class="btnProduit btnInfoProduit">
				<p><span class="iconeProduit glyphicon glyphicon-time btn-xs"></span> 2h 43min</p>
			</div>
			<div class="btnProduit btnEncherirProduit"><!-- Action enchérir -->
				<p> Enchérir </p>
			</div>
		</div>
	</div>
</div>