<div id="voletAction" class="container"> 
  <div class="row">
    <div id="searchBar" class="col-md-offset-2 col-xs-8 col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Sèche cheveux, Iphone, Robe...">
            <span class="input-group-btn">
              <button class="btn btn-default btn-xs" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>
    </div>
    <div class="col-md-4 col-xs-4 adjustBtnOpenVolet">
      <div id="btnOpenVolet">
        <span class="glyphicon glyphicon-plus"></span>  <span class="hidden-xs-inline"> Recherche avanc&eacute;e</span>
      </div>
      <div id="btnCloseVolet" class="init-displayNone">
        <span class="glyphicon glyphicon-minus"></span><span class="hidden-xs-inline"> Fermer la recherche avanc&eacute;e</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-4  ">
          <h5>Par prix</h5>
          <div class="row">
            <div class="col-md-4">Enchère</div>
            <div class="col-md-4"> 
              <input type="text" class="form-control input-sm" placeholder="Minimum ($)">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control input-sm" placeholder="Maximum ($)">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              Achat immédiat
            </div>
            <div class="col-md-4"> 
             <input type="text" class="form-control input-sm" placeholder="Minimum ($)">
           </div>
           <div class="col-md-4">
            <input type="text" class="form-control input-sm" placeholder="Maximum ($)">
          </div>
        </div>
      </div>
      <div class="col-sm-4 boxMargin">
        <h5>Par catégories</h5>
        <div class="row">
          <div class="col-xs-6">
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Mode
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Produits Électroniques
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Maison, Bricolage, Jardin
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Sport
            </label>
          </div>
          <div class="col-xs-6">
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Livres, Musiques, Vidéos
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Catégorie
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Catégorie
            </label>
            <label class="checkbox" for="checkbox1">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              Catégorie
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-4 boxAction alignCenter">
        <h5>Par lieu</h5>                          
        <div id='map'></div>


      </div>
    </div>
  </div>
  <div id="searchButtonPrimary" class="col-xs-offset-3 col-xs-6">
    <button class="btn btn-default btn-block">Search</button>
  </div>
</div>

</div>